<?xml version="1.0"?>
<!--
/**
 * Copyright © Squeezely B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <squeezely>
            <general>
                <enabled>1</enabled>
                <version>v2.11.4</version>
            </general>
            <store_sync>
                <attribute_name>name</attribute_name>
                <attribute_description>description</attribute_description>
                <attribute_brand>manufacturer</attribute_brand>
                <attribute_size>size</attribute_size>
                <attribute_color>color</attribute_color>
                <attribute_condition>condition</attribute_condition>
                <language>store</language>
            </store_sync>
            <advanced>
                <debug>0</debug>
                <endpoint_data_url>https://squeezely.tech/callback/magento2</endpoint_data_url>
                <endpoint_tracker_url>https://squeezely.tech/tracker/%s/sqzl.js</endpoint_tracker_url>
                <api_request_uri>https://api.squeezely.tech/</api_request_uri>
            </advanced>
            <frontend_events>
                <enabled>1</enabled>
                <events>ViewContent,ViewCategory,Search,AddToCart,RemoveFromCart,InitiateCheckout,Purchase</events>
            </frontend_events>
            <backend_events>
                <enabled>1</enabled>
                <events>EmailOptIn,Purchase,CRMUpdate,AddToCart,RemoveFromCart,CompleteRegistration,ProductDelete</events>
                <pool_size>50</pool_size>
            </backend_events>
        </squeezely>
    </default>
</config>
