<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Squeezely\Plugin\Api\GetManagementInterface" type="Squeezely\Plugin\Model\GetProductChildIdManagement"/>

    <type name="Squeezely\Plugin\Observer\ProductSaveAfter">
        <arguments>
            <argument name="frontUrlModel" xsi:type="object" shared="false">Magento\Framework\Url</argument>
        </arguments>
    </type>

</config>