<?xml version="1.0"?>
<!--
/**
 * Copyright © Squeezely B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="squeezely_tab" translate="label" sortOrder="500" class="squeezely-extensions">
            <label>Squeezely</label>
        </tab>
        <section id="squeezely" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Configuration</label>
            <tab>squeezely_tab</tab>
            <resource>Squeezely_Plugin::config</resource>
            <include path="Squeezely_Plugin::system/branding.xml"/>
            <include path="Squeezely_Plugin::system/general.xml"/>
            <include path="Squeezely_Plugin::system/store_sync.xml"/>
            <include path="Squeezely_Plugin::system/frontend_events.xml"/>
            <include path="Squeezely_Plugin::system/backend_events.xml"/>
            <include path="Squeezely_Plugin::system/advanced.xml"/>
        </section>
    </system>
</config>
